ul{
    background-color: #555;
    margin: 20px;
    border-radius: 10px;
    color: white;
    list-style: none;
}
#oneShot{
    background-color: #111;
    padding: 15px;

}
footer{
    background-color: #555;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
