ul{
    background-color: #555;
    margin: 20px;
    border-radius: 10px;
    color: white;
    list-style: none;
    padding: auto;
}
nav{
    background-color: #111;
    padding: 10px;
    border-radius: 10px;

}
footer{
    background-color: #555;
    margin: 20px;
    padding: 9px;
    border-radius: 10px;
    color: white;
}
